.Calendar {
  width: 500px;
  margin: 0 auto;
  text-align: center;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }

  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .weekday {
      border: 1px solid #ddd;
      height: 30px;
    }
  }

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .day {
      border: 1px solid #ddd;
      cursor: pointer;
      height: 50px;
    }
  }

  :global {

    .selecto-selection {
      border: none !important;
      background: transparent !important;
    }
  }

  .red {
    background: #FBDDDC;
  }

  .blue {
    background: #E5F0FF;
  }

  .selected {
    background-color: #a0e7e5;
  }
}
